/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #444;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1em;
    font-family: Georgia, Times, serif;
    height: 100%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

input{
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
 * Start
   ========================================================================== */
#nav-overall{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    display: none;
}

#nav-overall.show{
    display: block;
}

#loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    background: rgba(0,0,0,.7);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 200px;
    transition: all .2s ease-in-out;
    display: none;
    opacity: 0;
}

#loading.show{
    display: block;
}

#loading.animate{
    opacity: 1;
}

#quick-btn{
    margin: 2em 0;
}

#quick-btn a{
    display: block;
    width: 120px;
    height: 2.92em;
    line-height: 2.92;
    padding: 0 .8em;
    text-align: center;
    color: #fff;
    background: #b55e54;
    text-decoration: none;
    border-radius: 5px;
    font-size: .8125em;
}

#quick-btn a i{
    margin-right: 5px;
}

#quick-btn .unread{
    float: left;
}

#quick-btn .star{
    float: right;
}

header{
    height: 40px;
    line-height: 40px;
    background: #222222;
    text-align: center;
    position: relative;
    z-index: 999;
}

header a{
    text-decoration: none;
}

.sidebar-btn{
    position: fixed;
    top: 11px;
    left: 10px;
    color: #fff;
    z-index: 999;
}

.sidebar-btn.show{
    color: #b55e54;
}

#logo{
    margin: 0;
    color: #b55e54;
    display: inline-block;
    font-size: 1.125em;
    font-weight: normal;
}

#crumb{
    height: 2.5em;
    line-height: 2.5;
    background: #222;
    color: #fff;
    text-align: left;
    padding-left: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 996;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar{
    position: fixed;
    width: 280px;
    background: #283339;
    top: 40px;
    left: -280px;
    bottom: 0;
    overflow: auto;
    transition: all .2s ease-in-out;
    z-index: 998;
}

#sidebar.show{
    left: 0;
}

#sidebar h2{
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2.75;
    border-top: 1px solid #b55e54;
    color: #fff;
    display: block;
    position: relative;
}

#sidebar h2 a{
    color: #fff;
    text-decoration: none;
    display: block;
}

#sidebar h2 a.active{
    background: #b55e54;
}

#sidebar h2 a span{
    text-decoration: underline;
}

#sidebar h2 i{
    color: #fff;
    margin: 0 10px;
}

#sidebar form{
    margin: 0 12px;
}

#sidebar input{
    margin-bottom: .5em;
}

#sidebar input[type="password"],
#sidebar input[type="text"]{
    height: 2.125em;
    line-height: 1;
    display: block;
    width: 100%;
    padding: 0 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar input[type="submit"]{
    float: right;
    padding: 0 10px;
    margin: 1.5em 0 1em;
    height: 2.125em;
    line-height: 2.125;
    font: 1em/1 Helvetica, Arial, sans-serif;
    color: #fff;
    background: #b55e54;
    border-radius: 5px;
}

#sidebar label{
    border: 0;
    color: #999;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .8125em;
}

#feedlist{
    margin-bottom: 50px;
}

#feedlist li{
    height: 2.125em;
    line-height: 2.125;
}

#feedlist a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 12px;
}

#feedlist a:hover,
#feedlist a:active{
    color: #b55e54;
}

#feedlist a.active{
    color: #fff;
    background: #b55e54;
}

#feedlist a b{
    font-weight: normal;
    margin-left: 5px;
}

#items-list{
    padding: 0 10px;
}

#items-list li{
    border-bottom: 1px solid #efefef;
    padding-bottom: .75em;
}

#items-list .detail{
    text-decoration: none;
}

#items-list .detail:hover h3,
#items-list .detail:hover p{
    color: #000;
}

#items-list h3{
    margin: .5em 0 0;
    font: 1.5em/1.5 Helvetica, Arial, sans-serif;
    color: #333;
}

#items-list p{
    line-height: 1.4;
    margin: .25em 0 .5em;
    color: #666;
}

#items-list span{
    color: #b3b3b3;
    font-size: .75em;
}

#items-list b{
    display: block;
    font-weight: normal;
    margin-top: .75em;
}

#items-list b a{
    font-size: .8125em;
    text-decoration: none;
    color: #b55e54;
    line-height: 1.23;
}

#items-list b a:active{
    background: #b55e54;
    color: #fff;
}

#items-list b a.unread{
    float: left;
}

#items-list b a.star{
    float: right;
}

#items-list b a i{
    margin-right: 2px;
}

#more-btn{
    display: block;
    margin: 20px 10px;
    text-align: center;
    background: #b55e54;
    color: #fff;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5;
    border-radius: 5px;
}

#feed-content{
    background: #fff;
    position: absolute;
    top: 40px;
    padding: 0 10px;
}

#feed-content.show{
    display: block;
}

#feed-content > h3{
    margin: .75em 0 .5em;
    font: 1.5em/1.2 Helvetica, Arial, sans-serif;
    color: #333;
}

#feed-content > h3 a{
    font-size: .67em;
    color: #b55e54;
    margin-left: 10px;
}

#feed-content > span{
    display: block;
    color: #b3b3b3;
    font-size: .75em;
    margin-bottom: 2em;
}

#feed-content > div{
    line-height: 1.6;
}

#feed-content > div img{
    display: block;
    margin: .5em 0;
    max-width: 100%;
}

@media only screen and (min-width: 840px) {

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
}

#logo{
    text-indent: 12px;
}

#crumb{
    display: none;
}

.sidebar-btn{
    display: none;
}

#sidebar{
    left: 0;
}

#content{
    margin: 80px 0 0 320px;
    max-width: 32em;
}

#items-list{
    padding: 0;
}

#items-list b a{
    font-size: .875em;
}

#more-btn{
    margin-left: 0;
    margin-right: 0;
}

#feed-content{
    max-width: 32em;
    padding: 0 0 2em;
    position: relative;
}

#feed-content > div{
    line-height: 1.9;
}

#quick-btn a{
    font-size: 1em;
    min-width: 180px;
}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
