{% extends "base.html" %}
{% block content %}
    {% if newest_items.count() > 0 %}
    <ul id="items-list">
        {% for item in newest_items %}
        {% if item.readed %}
        <li class="readed">
        {% else %}
        <li>
        {% end %}
        <a href="/item/{{ item.itemid }}" class="detail">
            <h3>{{ item.title }}</h3>
            <p>
            {% if len(item.snippet) > 100 %}
                {% raw item.snippet[:100] %}...
            {% else %}
                {% raw item.snippet %}
            {% end %}
            </p>
        </a>
        <span>{{ item.pubdate }} <a href="/feed/{{ item.feedid }}">{{ item.feed.feedname }}</a></span>
        {% if admin_user %}
        <form class="clearfix" method="post" action="/itemstatus">
            <input type="hidden" name="itemid" value="{{ item.itemid }}">
            {% if item.readed %}
            <button type="submit" name="read" class="read">
                <i class="fa fa-check-square-o fa-fw"></i>Mark as unread
            </button>
            {% else %}
            <button type="submit" name="read" class="read">
                <i class="fa fa-square-o fa-fw"></i>Mark as readed
            </button>
            {% end %}

            {% if item.star %}
            <button type="submit" name="star" class="star">
                <i class="fa fa-star fa-fw"></i>Unstar
            </button>
            {% else %}
            <button type="submit" name="star" class="star">
                <i class="fa fa-star-o fa-fw"></i>Star
            </button>
            {% end %}
        </form>
        {% end %}
        </li>
        {% end %}
    </ul>
    {% if pagination.has_next %}
    <a href="?mode={{ viewmode }}&more={{ pagination.next_number }}" id="more-btn"><i class="fa fa-angle-double-down fa-fw"></i>View more</a>
    {% else %}
    <a href="?mode={{ viewmode }}&more={{ pagination.prev_number }}" id="more-btn" class="no-more"><i class="fa fa-arrow-left fa-fw"></i>No more, go back</a>
    {% end %}
    {% else %}
    <p>No items yet.</p>
    {% end %}
{% end %}
