{% extends "base.html" %}
{% block content %}
<ul id="items-list">
    {% for item in newest_items %}
    {% if item.readed %}
    <li class="readed">
    {% else %}
    <li>
    {% end %}
    <a href="/item/{{ item.itemid }}" class="detail">
        <h3>{{ item.title }}</h3>
        <p>{{ item.snippet[:50] }}...</p>
    </a>
    <span>{{ item.pubdate }} <a href="/feed/{{ item.feedid }}">{{ item.feed.feedname }}</a></span>
    {% if admin_user %}
    <b class="clearfix">
        <a href="#" class="unread"><i class="fa fa-check-square-o fa-fw"></i>Mark as unread</a>
        <a href="#" class="star"><i class="fa fa-star-o fa-fw"></i>Star</a>
    </b>
    {% end %}
    </li>
    {% end %}
    <!--
    <li>
        <a href="#" class="detail">
            <h3>格瓦拉神话背后的黑色真相</h3>
            <p>10 月 9 日，是切格瓦拉在玻利维亚就义的日子。每逢这个日子，有很多的纪念、致敬，也不缺少商业上的促销……</p>
        </a>
            <span>2014 年 1 月 30 日 虎嗅网</span>
        <b class="clearfix">
            <a href="#" class="unread"><i class="fa fa-check-square-o fa-fw"></i>Mark as unread</a>
            <a href="#" class="star"><i class="fa fa-star-o fa-fw"></i>Star</a>
        </b>
    </li>
    -->
</ul>
{% if pagination.has_next %}
<a href="?more={{ pagination.next_number }}" id="more-btn"><i class="fa fa-angle-double-down fa-fw"></i>View more</a>
{% else %}
<a href="?more={{ pagination.prev_number }}" id="more-btn" class="no-more"><i class="fa fa-arrow-left fa-fw"></i>No more, go back</a>
{% end %}
{% end %}
