<aside id="sidebar">
    <h2>
        <a href="/">
            <i class="fa fa-rss fa-fw"></i>All
        </a>
    </h2>
    {% if all_feeds.count() > 0 %}
    <ul id="feedlist">
        {% for feed in all_feeds %}
        <li>
            {% if feed.feedid == current_feed %}
            <a href="/feed/{{ feed.feedid }}" class="active">
            {% else %}
            <a href="/feed/{{ feed.feedid }}">
            {% end %}
                {{ feed.feedname }}
                {% if feed.itemunread > 100 %}
                <b>(100+)</b>
                {% elif feed.itemunread %}
                <b>({{ feed.itemunread }})</b>
                {% end %}
            </a>
        </li>
        {% end %}
    </ul>
    {% else %}
        <p>No feeds yet.</p>
    {% end %}
    {% if admin_user %}
    <h2><a href="/star"><i class="fa fa-star fa-fw"></i>Stars</a></h2>
    {% end %}
    {% if not admin_user %}
    <h2><i class="fa fa-user fa-fw"></i>Sign in to manage</h2>
    <form action="/login" class="clearfix" method="post">
        {% raw xsrf_form_html() %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Sign in">
    </form>
    {% else %}
    <h2><i class="fa fa-plus fa-fw"></i>Add Feed</h2>
    <form action="/addfeed" method="post" class="clearfix">
        {% raw xsrf_form_html() %}
        <input type="text" name="newfeed" placeholder="Feed URL...">
        <input type="submit" value="Add">
    </form>
    <h2><a href="/edit"><i class="fa fa-edit fa-fw"></i>Manage</a></h2>
    <h2><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a></h2>
    {% end %}
</aside>
