<aside id="sidebar">
    <h2><i class="fa fa-rss fa-fw"></i>All</h2>
    <ul id="feedlist">
        {% for feed in all_feeds %}
        <li>
            <a href="/feed/{{ feed.feedid }}">
                {{ feed.feedname }}
                {% if feed.itemunread is not None %}
                <b>({{ feed.itemunread }})</b>
                {% end %}
            </a>
        </li>
        {% end %}
    </ul>
    <h2><a href="#"><i class="fa fa-star fa-fw"></i>Stars</a></h2>
    <h2><i class="fa fa-user fa-fw"></i>Sign in to manage</h2>
    <form action="/login" class="clearfix">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="checkbox" name="remember" id="form-remember">
        <label for="form-remember">Remember me</label>
        <input type="submit" value="Sign in">
    </form>
    <h2><a href="/admin"><i class="fa fa-user fa-fw"></i>Hello Admin, <span>Manage</span></a></h2>
</aside>
