<div id="toolbar" class="clearfix">
    {% if admin_user %}
    <div id="viewtabs">
        {% if viewmode == 'normal' %}
            <a href="?mode=normal" class="active">Unr.</a><a href="?mode=all">All.</a>
        {% elif viewmode == 'all' %}
            <a href="?mode=normal">Unr.</a><a href="?mode=all" class="active">All.</a>
        {% end %}
    </div>
    {% end %}
    <div id="crumb" class="clearfix">
        <span class="path">
        <a href="/">All Feeds</a>
        {% if subpage %}
            {% if subpage['type'] == 'feed' %}
            &gt;&nbsp;<a href="/feed/{{ subpage['id'] }}">{{ subpage['name'] }}</a>
            {% elif subpage['type'] == 'star' %}
            &gt;&nbsp;<a href="{{ subpage['url'] }}">{{ subpage['name'] }}</a>
            {% end %}
        {% end %}
        </span>
        {% if pagination %}
        <span class="page">Page&nbsp;{{ pagination.page_number }}</span>
        {% end %}
    </div>
</div>
